[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "onnx-mlir"]
	path = onnx-mlir
	url = https://github.com/onnx/onnx-mlir.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "iree"]
	path = iree
	url = https://github.com/openxla/iree.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
